SECRET_KEY=sua_secret_key_aqui

DB_NAME=sesen
DB_USER=root
DB_PASSWORD=sua_senha_do_banco
DB_HOST=localhost
DB_PORT=3306

EMAIL_HOST=smtp.servidor.com
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=seu_email@dominio.com
EMAIL_HOST_PASSWORD=sua_senha_de_email
