<table class="table table-hover table-borderless align-middle custom-modern-table table-compacta w-100" id="tabela-principal">
    <thead class="custom-thead">
        <tr>
            <th scope="col">Protocolo</th>
            <th scope="col">Data/Hora</th>
            <th scope="col">Elevador</th>
            <th scope="col">Ocorrência</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Data/Hora Chegada</th>
            <th scope="col">Tmp Chegada</th>
            <th scope="col">Data/Hora Saída</th>
            <th scope="col">Tmp Saída</th>
            <th scope="col">Componente</th>
            <th scope="col">Sub Componente</th>
            <th scope="col">Tempo Parado</th>
            <th scope="col">Serviço</th>
            <th scope="col">Status</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody id="tabela-oss-completa">
       
    </tbody>
</table>