<table class="table table-hover align-middle mb-0 text-center" id="tabela-mpm-dados">
    <thead class="table-light text-secondary">
        <tr>
            <th class="fw-bold">Elevador</th>
            <th class="fw-bold">Mês Referência</th>
            <th class="fw-bold">Data Execução</th>
            <th class="fw-bold">Técnico</th>
            <th class="fw-bold">Status</th>
            <th class="fw-bold">Ações</th>
        </tr>
    </thead>
    <tbody id="mpm-tbody">
        <!-- Renderizado via JS -->
    </tbody>
</table>
